@mixin ul_section {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%;

    li {

        padding: 1.4rem;
        height: 100%;
        font-size: 14px;

        &:hover {

            border-bottom: 4px solid #0282F9;
            position: relative;
            top: 2px;


        }

        &:hover a {
            color: #0282F9;
        }
    }

    a {
        position: relative;
        top: 45%;
        color: black;
        text-decoration: none;

    }
}

@mixin default {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;


    }

    width: 90%;
    margin: 0 auto;
}